*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(219,226,226);
}
.row{
    background: white;
    border-radius: 30px;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.authBtn{
    border: none;
    outline: none;
    height: 50px;
    width: 100%; 
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 25px;

}
.authBtn:hover{
    background: white;
    border: 1px solid black;
    color: black;
    transition: ease 1s;
}

.loginInput{
    border-radius: 25px;
}